# Razorpay API Keys
# Get from: https://dashboard.razorpay.com/app/website-app-settings/api-keys
RAZORPAY_KEY_ID=rzp_live_7agGxU7aLK1x0Y
RAZORPAY_KEY_SECRET=XzE5lXCLjB9kTUzSSCrbLVJ4g
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_XXXXXXXXXXXXXXX
